# Node.js / Server / Admin
node_modules/
npm-debug.log
yarn-error.log

# Expo / React Native (Raftar app)
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
